<div class="templatemo-welcome" id="templatemo-welcome">
    <div class="container">
        <div class="templatemo-slogan text-center">
            <span class="txt_darkgrey">Class </span><span class="txt_orange">Schedules</span>

            <p class="txt_slogan">
                <i>The CNA course is 104 hours overall. Course consist of 88 hours of class room instructions and 16
                    hours of hands on clinical workshop at Wahiawa General Hospital or Pearl City Nursing Home. </i>
            </p>
        </div>
    </div>
</div>


<div class="templatemo-team" id="templatemo-about">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="feature-grid-head">
                    <div class="feature-grid-head-top">
                        <label> </label><span> </span> <label> </label>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row row_schedule" id="cna-evening">
            <div class="col-lg-3 col-md-3 col-sm-6 ">
                <div class="schedule-thumb">
                    <img src="resources/images/evening.png" class="img-responsive" alt="member 1"/>

                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 ">
                <div class="team-inner">
                    <div class="details">
                        <div class="pull-left"><h2>Certified Nursing Assistant (CNA 101-E)</h2></div>
                        <div class="pull-left"><h3>Course Cost $895.00 + Processing Charge = $35 +Tax $43.82 = Total
                            $973.82<br/> (Tuition includes C.P.R. and First Aid class.)</h3></div>
                        <div class="clearfix">
                        </div>
                        <h3>Next course is scheduled on January 26, 2016 (Tuesday).</h3>

                        <h3 class="title"> 3:00PM - 8:00PM | 6 Weeks | 12 Students Class</h3>


                        <p class="more">Course length is 90 hours of Class room instructions and 16 hours of Skills
                            training at Wahiawa General Hospital.<br/>
                            CNA course is Certified by the State of Hawaii Department of Human Services. <br/>
                            Pre-requisite: High School education and age 18 and older. TB Clearance<br/>
                            Graduating students receive a Certificate for completing CNA training. <br/>
                            Classes are held on Tuesday, Wednesday and Thursday.<br/>
                            Click on the Application tab to download application.</p>

                        <div class="pull-right">
                            <a class="btn btn-orange" href="resources/pdf/cna-application-form.pdf" target="_blank">Download
                                Application Form</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row row_schedule" id="cna-weekend">

            <div class="col-lg-3 col-md-3 col-sm-6 ">
                <div class="schedule-thumb">
                    <img src="resources/images/saturday.png" class="img-responsive" alt="member 1"/>

                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 ">
                <div class="team-inner">
                    <div class="details">
                        <div class="pull-left"><h2>Certified Nursing Assistant CNA 101-S)</h2></div>
                        <div class="pull-left"><h3>Course Cost $895.00 + Processing Charge = $35 +Tax $43.82 = Total
                            $973.82<br/> (Tuition includes C.P.R. and First Aid class.)</h3></div>
                        <div class="clearfix"></div>
                        <h3>Next course is scheduled for February 13, 2016.</h3>

                        <h3 class="title">8:00 AM to 5:00 PM | 10 consecutive weeks </h3>

                        <p class="more">
                            Course curriculum is identical to course 101-E except classes are held on Saturdays for 10
                            consecutive weekends. Classes start at 8:00AM and ends at 5:00PM. <br/>
                            CNA course is certified by the State of Hawaii Department of Human Services. <br/>
                            Prerequisite - High School education and age 18 and older. TB Clearance<br/>
                            Graduating students receive a Certificate for completing CNA training. <br/>
                            Tuition includes C.P.R. and First Aid class.<br/>
                            Click on the Application tab to download application.
                        </p>

                        <div class="pull-right">
                            <a class="btn btn-orange" href="resources/pdf/cna-application-form.pdf" target="_blank">Download
                                Application Form</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row_schedule">
            <div class="details">
                <p class="lead">
                    CNA courses includes "The New Assistant Nursing Text Book 8th edition", a stethoscope and blood
                    pressure cuff.
                    Note: As part of the CNA curriculumn, Students are required to be CPR certified. Note the cost for
                    CPR is now included in the tuition cost. If you have a current AHA CPR certificate, $80.00 will be
                    deducted for your tutition cost. The AHA CPR is required by the hospital where the clinical workshop
                    is held.
                    ACT CPR training is approved by the American Heart Association.
                </p>
            </div>

        </div>

        <div class="row row_schedule" id="phlebotomy-ekg">

            <div class="col-lg-3 col-md-3 col-sm-6 ">
                <div class="schedule-thumb">
                    <img src="resources/images/syringe-icon.png" class="img-responsive" alt="member 1"/>

                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 ">
                <div class="team-inner">
                    <div class="details">
                        <div class="pull-left"><h2>PHLEBOTOMY & EKG COURSE (PHLE-101) </h2></div>
                        <div class="pull-left"><h3>Course cost is $1100.00 + Processing Chg = $35 + Tax 53.48 = Total
                            $1188.48<br/> (Course includes study material and medical paraphernalia.)</h3></div>

                        <div class="clearfix"></div>

                        <h3 class="title">Next Course Schedule: Dec 3 - Dec 4, 2015 |<br/> 9 AM to 2:00 PM | Thursday
                            and Friday for
                            11 sessions </h3>

                        <p class="more">
                            <b>Course is Certified by the American Phlebotomy Association</b><br/> Course length is 88
                            hours of class room instructions.
                            Classes are held on Thursday and Friday for five and half weeks, 11 classes.<br/>
                            Pre-requisite - High School education and age 18 and older. TB Clearance<br/>
                            Graduating students receive a Certificate for completing Phlebotomy and EKG training.<br/>
                        </p>


                        <div class="pull-right">
                            <a class="btn btn-orange" href="resources/pdf/cna-application-form.pdf" target="_blank">Download
                                Application Form</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row row_schedule" id="cna-recertification">

            <div class="col-lg-3 col-md-3 col-sm-6 ">
                <div class="schedule-thumb">
                    <img src="resources/images/certificate-icon.png" class="img-responsive" alt="member 1"/>

                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 ">
                <div class="team-inner">
                    <div class="details">
                        <div class="pull-left"><h2>CNA - RE-CERTIFICATION - $105.00 </h2></div>
                        <div class="clearfix"></div>

                        <h3 class="title">Second Monday of each month </h3>

                        <p class="more">

                            CNA Recertification Schedule for 2016. Classes held on the Second Monday of each month.
                            <br/>
                        <table class="">
                            <thead>
                            <td style="width: 200px"></td>
                            <td style="width: 200px"></td>
                            </thead>
                            <tr>
                                <td><strike>January 4</strike></td>
                                <td>July 11</td>
                            </tr>
                            <tr>
                                <td><strike>Feburary 1</strike></td>
                                <td>August 8</td>
                            </tr>
                            <tr>
                                <td><strike>March 7</strike></td>
                                <td>September 12</td>
                            </tr>
                            <tr>
                                <td><strike>April 4</strike></td>
                                <td>October 10</td>
                            </tr>
                            <tr>
                                <td>May 9</td>
                                <td>November 14</td>
                            </tr>
                            <tr>
                                <td>June 13</td>
                                <td>December 12</td>
                            </tr>
                        </table>
                        </p>

                        <div class="pull-right">
                            <a class="btn btn-orange" href="resources/pdf/cna-application-form.pdf" target="_blank">Download
                                Application Form</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row row_schedule">

            <div class="team-inner">
                <div class="details">
                    <div class="pull-left"><h2>Registration</h2></div>
                    <div class="clearfix"></div>

                    <div class="details">

                        <p class="lead">
                            Download either the Re-certification or CNA/Phlebotomy form.
                            For the CNA course, Write your name in consent line for the background check and sign
                            application form. Mail your application along with a deposit of $300.00 for CNA courses or
                            $100.00 for re-certification class. Cashier Check or regular Checks are excepted.
                        </p>

                        <div class="blog_box">
                            <div class="col-md-8">
                                <ul class="list-inline">

                                    <li class="col-md-4">
                                        <div class="pull-left">
                                            <span class="blog_header">Submit Application to:</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p class="blog_text">
                                            Advanced Care Training School<br/>
                                            P.O. Box 893224<br/>
                                            Mililani, Hi. 96789

                                        </p>
                                    </li>
                                    <li class="col-md-4">
                                        <div class="pull-left">
                                            <span class="blog_header">New  School Address:</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p class="blog_text">
                                            1034 Kilani Ave. Unit 105<br/>
                                            Wahiawa, HI 96786<br/>
                                        </p>
                                    </li>
                                </ul>
                            </div> <!-- /.blog_post 1 -->
                        </div>
                    </div>

                </div>
            </div>


        </div>


        <div class="row row_schedule">

            <div class="team-inner">
                <div class="details">
                    <div class="center-block"><h2>Advanced Care Training Course Schedules</h2></div>
                    <div class="clearfix"></div>

                    <div id="MAPOBJ7DCA4476351A20" style="" class="center-block responsive-iframe-container">
                        <iframe src="https://www.google.com/calendar/embed?title= &amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=r8db1slgpakcd19p58mbf2je5o%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=41e15p7c314qhipqifa43u2gv0%40group.calendar.google.com&amp;color=%232F6309&amp;src=2e0q70fr9qpdjrjt7l67rehcfo%40group.calendar.google.com&amp;color=%23B1365F&amp;src=v5o8l2jtaf2b3a2s6123f90da0%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=Pacific%2FHonolulu"
                                style=" border-width:0 " width="800" height="600" frameborder="0"
                                scrolling="no"></iframe>
                    </div>

                </div>
            </div>
        </div>

        <div class="row row_schedule">

            <div class="details">


            </div>

        </div>
    </div>

</div>