<div class="templatemo-welcome" id="templatemo-welcome">
    <div class="container">
        <div class="templatemo-slogan text-center">
            <span class="txt_darkgrey">Our  </span><span class="txt_orange">Events</span>
            <p class="txt_slogan">
                <!--<i>Some message here </i>-->
            </p>
        </div>
    </div>
</div>

-{{data}}-
<div id="templatemo-blog">
    <div class="container">
        <div class="row">
            <div class="feature-grid-head">
                <div class="feature-grid-head-top">
                    <label> </label><span> </span> <label> </label>
                    <div class="clearfix"></div>
                </div>
                <h3><span>All</span> EVENTS</h3>
            </div>
            <br class="clearfix"/>
        </div>

        <div class="blog_box">


            <div class="col-sm-5 col-md-6 blog_post">
                <ul class="list-inline">
                    <li class="col-md-4">
                        <a href="#">
                            <img class="img-responsive" src="resources/images/content/graduates/2015/jun27/7.jpg"
                                 alt="gallery 1"/>
                        </a>
                    </li>
                    <li class="col-md-8">
                        <div class="pull-left">
                            <span class="blog_header">CNA GRADUATION<br/>(Saturday Class)</span><br/>
                            <span>Event Date : <span class="txt_orange">June 27, 2015</span></span>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-orange"  ui-sref="event-detail({eventId: 'fooVal1'})" role="button">View Details</a>
                        </div>
                        <div class="clearfix"></div>
                        <p class="blog_text">
                            <!--Aliquam quis rutrum risus, ut condimentum ipsum. Nullam aliquet libero augue, eget auctor felis vulputate id. Proin a enim eu libero ornare malesuada. Sed iaculis fringilla lacinia. Sed laoreet lectus vitae [...]-->
                        </p>
                    </li>
                </ul>
            </div> <!-- /.blog_post 1 -->


            <div class="col-sm-5 col-md-6 blog_post">
                <ul class="list-inline">
                    <li class="col-md-4">
                        <a href="#">
                            <img class="img-responsive" src="resources/images/blog-image-1.jpg" alt="gallery 1"/>
                        </a>
                    </li>
                    <li class="col-md-8">
                        <div class="pull-left">
                            <span class="blog_header">CNA GRADUATION<br/>(August 23, 2014)</span><br/>
                            <span>Event Date : <span class="txt_orange">August 23, 2014</span></span>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-orange" href="event/grad-aug-23.html" role="button">View Details</a>
                        </div>
                        <div class="clearfix"></div>
                        <p class="blog_text">
                            <!--Aliquam quis rutrum risus, ut condimentum ipsum. Nullam aliquet libero augue, eget auctor felis vulputate id. Proin a enim eu libero ornare malesuada. Sed iaculis fringilla lacinia. Sed laoreet lectus vitae [...]-->
                        </p>
                    </li>
                </ul>
            </div> <!-- /.blog_post 1 -->

            <div class="templatemo_clear"></div>
            <div class="col-sm-5 col-md-6 blog_post">
                <ul class="list-inline">
                    <li class="col-md-4"><a href="#">
                        <img class="img-responsive" src="resources/images/blog-image-2.jpg" alt="gallery 2"/></a>
                    </li>
                    <li class="col-md-8">
                        <div class="pull-left">
                            <span class="blog_header">Fund Raising for the<br/> 'Caregiver Foundation'</span><br/>
                            <span>Event Date : <span class="txt_orange">June 21, 2014</span></span>

                        </div>
                        <div class="pull-right">
                            <a class="btn btn-orange" href="event/fund-raising-caregiver-foundation.html" role="button">View
                                Details</a>
                        </div>
                        <div class="clearfix"></div>
                        <p class="blog_text">
                            <!--Morbi imperdiet ipsum sit amet dui pharetra, vulputate porta neque tristique. Quisque id turpis tristique, venenatis erat sit amet, venenatis turpis. Ut tellus ipsum, posuere bibendum [...]-->
                        </p>
                    </li>
                </ul>
            </div><!-- /.blog_post 2 -->


            <div class="col-sm-5 col-md-6 blog_post">
                <ul class="list-inline">
                    <li class="col-md-4"><a href="#">
                        <img class="img-responsive" src="resources/images/blog-image-3.jpg" alt="gallery 3"/></a>
                    </li>
                    <li class="col-md-8">
                        <div class="pull-left">
                            <span class="blog_header">CNA GRADUATION<br/> (August 19, 2014)</span><br/>
                            <span>Event Date : <span class="txt_orange">August 19, 2014</span></span>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-orange" href="event/grad-aug-19.html" role="button">View Details</a>
                        </div>
                        <div class="clearfix"></div>
                        <p class="blog_text">
                            <!--Fusce molestie tellus risus, id commodo turpis convallis id. Morbi mattis sapien sapien, vitae lacinia ante interdum sit amet. Praesent eget varius diam, ac tempor est. Mauris at scelerisque magna [...]-->
                        </p>
                    </li>
                </ul>
            </div><!-- /.blog_post 3 -->

        </div>
    </div>
</div>