
-{{param1}}-
<div class="templatemo-welcome" id="templatemo-welcome">
    <div class="container">
        <div class="templatemo-slogan text-center">
            <span class="txt_darkgrey">Our  </span><span class="txt_orange">Events</span>
            <p class="txt_slogan">
                <i>CNA GRADUATION - AUGUST 19, 2014</i>
            </p>
        </div>
    </div>
</div>


<div class="templatemo-team" id="templatemo-about">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="feature-grid-head">
                    <div class="feature-grid-head-top">
                        <label> </label><span> </span> <label> </label>
                        <div class="clearfix"> </div>
                    </div>
                    <!--<h3><span>Evening</span> Course</h3>-->
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="row row_schedule ">
            <div class="col-lg-3 col-md-3 col-sm-6  ">
                <div class="blog_box">
                    <a href="#">
                        <img class="img-responsive" src="../resources/images/blog-image-3.jpg" alt="gallery 1" />
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 ">
                <div class="team-inner">
                    <div class="details">
                        <div class="pull-left"><h2>CNA GRADUATION - AUGUST 19, 2014</h2> </div>
                        <div class="clearfix"></div>
                        <h3 class="title">CNA GRADUATES</h3>

                        <p class="more">Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendiise

                        </p>
                        <p class="more">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendiise as a molesti neque vestibulum,
                            persiutsor de andues mare fricilus ipsum dolor sit amet cons forukus.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div id="templatemo-portfolio" >
            <div class="row">
                <div class="container">
                    <div class="feature-grid-head">
                        <div class="feature-grid-head-top">
                            <label> </label><span> </span> <label> </label>
                            <div class="clearfix"> </div>
                        </div>
                        <h3><span>Event </span> PHOTOS</h3>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div> <!-- /.row -->
            <div class="container">



                <div class="clearfix"></div>
                <div class="text-center">
                    <ul class="templatemo-project-gallery" >

                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative" >
                            <a class="colorbox" href="../resources/images/content/graduates/august19/1.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="../resources/images/content/graduates/august19/thumb/1.jpg" class="img-responsive" alt="gallery" />

                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative" >
                            <a class="colorbox" href="../resources/images/content/graduates/august19/2.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="../resources/images/content/graduates/august19/thumb/2.jpg" class="img-responsive" alt="gallery" />

                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative" >
                            <a class="colorbox" href="../resources/images/content/graduates/august19/3.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="../resources/images/content/graduates/august19/thumb/3.jpg" class="img-responsive" alt="gallery" />

                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative" >
                            <a class="colorbox" href="../resources/images/content/graduates/august19/4.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="../resources/images/content/graduates/august19/thumb/4.jpg" class="img-responsive" alt="gallery" />

                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative" >
                            <a class="colorbox" href="../resources/images/content/graduates/august19/5.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="../resources/images/content/graduates/august19/thumb/5.jpg" class="img-responsive" alt="gallery" />

                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative" >
                            <a class="colorbox" href="../resources/images/content/graduates/august19/6.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="../resources/images/content/graduates/august19/thumb/6.jpg" class="img-responsive" alt="gallery" />

                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative" >
                            <a class="colorbox" href="../resources/images/content/graduates/august19/7.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="../resources/images/content/graduates/august19/thumb/7.jpg" class="img-responsive" alt="gallery" />

                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative" >
                            <a class="colorbox" href="../resources/images/content/graduates/august19/8.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="../resources/images/content/graduates/august19/thumb/8.jpg" class="img-responsive" alt="gallery" />

                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative" >
                            <a class="colorbox" href="../resources/images/content/graduates/august19/9.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="../resources/images/content/graduates/august19/thumb/9.jpg" class="img-responsive" alt="gallery" />

                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative" >
                            <a class="colorbox" href="../resources/images/content/graduates/august19/10.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="../resources/images/content/graduates/august19/thumb/10.jpg" class="img-responsive" alt="gallery" />

                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative" >
                            <a class="colorbox" href="../resources/images/content/graduates/august19/11.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="../resources/images/content/graduates/august19/thumb/11.jpg" class="img-responsive" alt="gallery" />

                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative" >
                            <a class="colorbox" href="../resources/images/content/graduates/august19/12.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="../resources/images/content/graduates/august19/thumb/12.jpg" class="img-responsive" alt="gallery" />

                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative" >
                            <a class="colorbox" href="../resources/images/content/graduates/august19/13.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="../resources/images/content/graduates/august19/thumb/13.jpg" class="img-responsive" alt="gallery" />

                                </div>
                            </a>
                        </li>




                    </ul><!-- /.gallery -->
                </div>

            </div><!-- /.container -->
        </div>

    </div>

</div>