<div class="templatemo-welcome" id="templatemo-welcome">
    <div class="container">
        <div class="templatemo-slogan text-center">
            <span class="txt_darkgrey">Our  </span><span class="txt_orange">Events</span>
            <p class="txt_slogan">
                <!--<i>Some message here </i>-->
            </p>
        </div>
    </div>
</div>

<div id="templatemo-blog">
    <div class="container">
        <div class="row">
            <div class="feature-grid-head">
                <div class="feature-grid-head-top">
                    <label> </label><span> </span> <label> </label>
                    <div class="clearfix"></div>
                </div>
                <h3><span>All</span> EVENTS</h3>
            </div>
            <br class="clearfix"/>
        </div>

        <div class="blog_box" ng-model="">

            <div ng-repeat="event in data">
                <div class="col-sm-5 col-md-6 blog_post">
                    <ul class="list-inline">

                        <li class="col-md-4">
                            <a href="#">
                                <img class="img-responsive" ng-src="{{event.thumbnail}}"
                                     alt="gallery 1"/>
                            </a>
                        </li>
                        <li class="col-md-8">
                            <div class="pull-left">
                                <span class="blog_header">{{event.titleLine1}}<br/>{{event.titleLine2}}</span><br/>
                                <span>Event Date : <span class="txt_orange">{{event.date}}</span></span>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-orange" ui-sref="event-detail({eventId: event.id})" role="button">View
                                    Details</a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="blog_text">{{event.moreInfo}}</p>
                        </li>
                    </ul>
                </div> <!-- /.blog_post 1 -->
                <div class="templatemo_clear" ng-if="clearDiv($index)"></div>
            </div>
        </div>
    </div>
</div>