    <title>Advanced CNA Training School</title>
    <meta name="keywords" content="cna, nurse, nursing, assistant, care, hawaii"/>
    <meta name="description" content="Adavenced CNA Training Website"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Google Web Font Embed -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'/>

    <!-- Bootstrap core CSS -->
    <link href="/resources/css/bootstrap.css" rel='stylesheet'
          type='text/css'/>

    <!-- Custom styles for this template -->
    <link href="/resources/js/colorbox/colorbox.css" rel='stylesheet'
          type='text/css'/>
    <link href="/resources/css/templatemo_style.css" rel='stylesheet'
          type='text/css'/>
    <link href="/resources/css/w3school_style.css" rel='stylesheet'
          type='text/css'/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.resources/js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="angular/js/angular.min.js"></script>
    <script type="text/javascript" src="angular/js/main-app.js"></script>
