<div>
    <!-- Carousel -->
    <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#templatemo-carousel" data-slide-to="1"></li>
            <li data-target="#templatemo-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>STATE APPROVED TRAINING FACILITY </h1>
                        <ng-include src="template"></ng-include>
                        <p>CHOOSE THE ONE SUITABLE FOR YOU</p>
                        <p><a class="btn btn-lg btn-green" href='schedule.html#cna-evening' role="button"
                              style="margin: 20px;">CNA Course</a>
                            <a class="btn btn-lg btn-orange" href='schedule.html#cna-recertification' role="button">CNA
                                Recertification</a></p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="col-sm-6 col-md-6">
                            <h1>EVENING CNA COURSE</h1>

                            <p>Evening Classes are held three days per week,Tuesday, Wednesday and Thursday. Classes
                                begin at 3:00PM and ends at 8:00PM. </p>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <h1>WEEKEND CNA COURSE</h1>

                            <p>For those who are able to attend classes only on Saturdays, ACT offers a Saturday CNA
                                course.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>CNA RECERTIFICATION</h1>

                        <p>Offering 100 hours CNA and 24 hours recertification courses.</p>

                        <p><a class="btn btn-lg btn-orange" href="schedule.html#cna-recertification" role="button">Read
                            More</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#templatemo-carousel" data-slide="next"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /#templatemo-carousel -->
</div>

<div class="templatemo-welcome" id="templatemo-welcome">
    <div class="container">
        <div class="templatemo-slogan text-center">
            <span class="txt_darkgrey">Welcome to </span><span class="txt_orange">Advanced Care Training School</span>

            <p class="txt_slogan"><i>Advanced Care Training School(ACT) is a State Approved Training Facility. Certified
                by the Department of Human Services for teaching Certified Nurse Assistant Training and CNA
                Recertification. Offering 100 hours CNA and 24 hours recertification courses.
                Spouse Education and Career Opportunity
                Approved (SECO), formerly known as MYCAA.</i></p>
        </div>
    </div>
</div>

<div class="templatemo-quote" id="templatemo-about">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="feature-grid-head">
                    <div class="feature-grid-head-top">
                        <label> </label><span> </span> <label> </label>

                        <div class="clearfix"></div>
                    </div>
                    <h3 ng-bind-html="data.wordFromCEO.title"></h3>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row featurette">
            <div class="col-md-4">
                        <span class="quote-image-span">
                            <img class="quote-image img-responsive" alt="500x500" ng-src="{{data.wordFromCEO.imgSrc}}"
                                 alt="CEO Picture"/></span>
            </div>
            <div class="col-md-8">
                <h2 class="templatemo-quote-heading" ng-bind-html="data.wordFromCEO.heading"></span>
                </h2>

                <p class="lead" ng-bind-html="data.wordFromCEO.content"></p>
            </div>
        </div>
    </div>
</div><!-- /.templatemo-quote -->


<div class="container">
    <div class="feature-grid-head">
        <div class="feature-grid-head-top">
            <label> </label><span> </span> <label> </label>

            <div class="clearfix"></div>
        </div>
        <h3 ng-bind-html="data.courses.title"></h3>
    </div>
</div>
<div class="clearfix"></div>
<a ui-sref='enroll'>HOME</a>
<div class="templatemo-service">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="templatemo-service-item grid_1_of_3">
                    <div>
                        <img src="resources/images/evening-inv.png" alt="icon"/>
                        <span class="templatemo-service-item-header" ng-bind-html="data.courses.evening.heading"></span>
                    </div>
                    <p ng-bind-html="data.courses.evening.content"></p>
                    <div class="text-center">
                        <a rel="nofollow" ui-sref='enroll#cna-evening'
                           class="templatemo-btn-read-more btn btn-white">READ MORE</a>
                    </div>
                    <br class="clearfix"/>
                </div>
            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item grid_2_of_3">
                    <div>
                        <img src="resources/images/sat-inv.png" alt="icon"/>
                        <span class="templatemo-service-item-header" ng-bind-html="data.courses.weekend.heading"></span>
                    </div>
                    <p ng-bind-html="data.courses.weekend.content"></p>

                    <div class="text-center">
                        <a rel="nofollow" href="schedule.html#cna-weekend"
                           class="templatemo-btn-read-more btn btn-white">READ MORE</a>
                    </div>
                    <br class="clearfix"/>
                </div>
            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item grid_3_of_3">
                    <div>
                        <img src="resources/images/syringe-inv.png" alt="icon"/>
                        <span class="templatemo-service-item-header"
                              ng-bind-html="data.courses.phlebotomyEkg.heading"></span>
                    </div>
                    <p ng-bind-html="data.courses.phlebotomyEkg.content"></p>

                    <div class="text-center">
                        <a rel="nofollow" href="schedule.html#phlebotomy-ekg"
                           class="templatemo-btn-read-more btn btn-white">READ MORE</a>
                    </div>
                    <br class="clearfix"/>
                </div>
                <br class="clearfix"/>
            </div>
        </div>
    </div>
</div>

<div id="templatemo-blog">
    <div class="container">
        <div class="row">
            <div class="feature-grid-head">
                <div class="feature-grid-head-top">
                    <label> </label><span> </span> <label> </label>

                    <div class="clearfix"></div>
                </div>
                <h3><span>Recent</span> EVENTS</h3>
            </div>
            <br class="clearfix"/>
        </div>

        <div class="center-block responsive-iframe-container  fb-album">
            <iframe ng-src="{{data.recentEvents.embedsocialUrl | trustAsResourceUrl}}" width="900" height="1500"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</div>
