<div class="templatemo-top-menu">
    <div class="container">
        <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="" rel="nofollow"><img
                            src="resources/images/templatemo_logo_wide.png" alt="logo"/></a>
                </div>
                <div class="navbar-collapse collapse" id="templatemo-nav-bar">
                    <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
                        <li ng-class="{active:$root.menu ==='home'}"><a ui-sref='home' ng-click="menu='home'">HOME</a></li>
                        <li ng-class="{active:menu ==='staff'}"><a ui-sref='staff' ng-click="menu='staff'">OUR STAFF</a></li>
                        <li ng-class="{active:menu ==='enroll'}"><a ui-sref='enroll' ng-click="menu='enroll'">ENROLL</a></li>
                        <li ng-class="{active:menu ==='events'}"><a ui-sref='event' ng-click="menu='events'">EVENTS</a></li>
                        <li ng-class="{active:menu ==='contact'}"><a ui-sref='contact' ng-click="menu='contact'">CONTACT</a></li>
                        <li ng-class="{active:menu ==='career'}"><a ui-sref='career' ng-click="menu='career'">CAREER</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
