<div class="templatemo-top-menu">
    <div class="container">
        <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="" rel="nofollow"><img
                            src="resources/images/templatemo_logo_wide.png" alt="logo"/></a>
                </div>
                <div class="navbar-collapse collapse" id="templatemo-nav-bar">-{{menu}}-
                    <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
                        <li ng-class="{active:menu ===1}"><a ui-sref='home' ng-click="menu=1">HOME</a></li>
                        <li ng-class="{active:menu ===2}"><a ui-sref='staff' ng-click="menu=2">OUR STAFF</a></li>
                        <li ng-class="{active:menu ===3}"><a ui-sref='enroll' ng-click="menu=3">ENROLL</a></li>
                        <li ng-class="{active:menu ===4}"><a ui-sref='event' ng-click="menu=4">EVENTS</a></li>
                        <li ng-class="{active:menu ===5}"><a ui-sref='contact' ng-click="menu=5">CONTACT</a></li>
                        <li ng-class="{active:menu ===6}"><a ui-sref='career' ng-click="menu=6">CAREER</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
