<div class="templatemo-welcome" id="templatemo-welcome">
    <div class="container">
        <div class="templatemo-slogan text-center">
            <span class="txt_darkgrey">Coming </span><span class="txt_orange">Soon</span>

            <p class="txt_slogan">
                <!--<i>Our website is under construction. The page your looking will be available soon.</i>-->
            </p>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="templatemo-team" id="templatemo-about">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="feature-grid-head">
                    <div class="feature-grid-head-top">
                        <label> </label><span> </span> <label> </label>

                        <div class="clearfix"></div>
                    </div>
                    <h3>

                        <span>Our website is under construction. </span> The page your looking will be available soon.
                    </h3>
                </div>
            </div>
        </div>


        <div class="clearfix"></div>


    </div>
</div>
